@inherits Custom.Hybrid.Razor12
@{
  var wrapperAttribute = "app-addsearch3-form-" + CmsContext.Module.Id;
}

<div class="app-add-search3 input-group mb-3" @wrapperAttribute data-resultpage="@Settings.SearchPage">
  <input type="text" class="form-control" placeholder="@Resources.PlaceholderText...">
  <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
</div>

@Html.Partial("shared/_Assets.cshtml", new { WrapperAttribute = wrapperAttribute })
